/* Todo:
1)Inserire clearfix dove hai usato classi float!*/

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}


/* UTILITIES & COMMON SETTINGS */
.float-l{
  float:left;
}

.float-r{
  float:right;
}

.clearfix{
  content:"";
  display:table;
  clear:both;
}

.resetLista ul{
  list-style: none;
}

.resetLista ul li{
  text-decoration: none;
}

.buttonLink{

}

.buttonLink-transparent{

}

.buttonLink-filled{
  
}
/* /UTILITIES & COMMON SETTINGS */

/* Div generico che imposta larghezza content */
.content{
  max-width: 1200px;
  margin: 0 auto;
}
/* /Div generico che imposta larghezza content */

.bar-fixed{
  border-bottom: 1px solid #556979;
  height: 50px;
  background-color: #f4f9fd;
}

.bar-fixed-colonnasx{
  width: 200px;
  height: 50px;
  border: 1px solid orange;
}

.bar-fixed-colonnadx{
  width: 200px;
  height: 50px;
  border: 1px solid orange;
}

.header-top-colonnasx{
  width: 200px;
  height: 50px;
  border: 1px solid orange;
}

.header-top-colonnadx{
  width: 200px;
  height: 50px;
  border: 1px solid orange;
}

.header-top{
  background-color: #ffffff;
  height: 50px;
}

.header-center{
  height: 600px;
  background-color: #fff3ef;
  background-image: url(../img/header-sfondo.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}

.header-center-jumbotron{
  padding-top: 40px;
  width: 50%;
  height: 300px;
  border: 1px solid red;
}

.header-bottom{
  /* Workaround per tagliare immagine */
  position: relative;
  /* z-index: -1; */
  top:-83px;
  height: 100px;
  /* /Workaround per tagliare immagine */

  background-color: #afebe4;
  border-top: 4px solid #33475b;
  border-bottom: 4px solid #33475b;


}




/* /Header - parte inferiore */
