/* Todo:
1)Inserire clearfix dove hai usato classi float!*/

*{
  box-sizing: border-box;
  margin:0;
  padding:0;

  /* Font standard */
  font-family: 'Montserrat', sans-serif;
}


/* UTILITIES & COMMON SETTINGS */
.float-l{
  float:left;
}

.float-r{
  float:right;
}

.clearfix{
  content:"";
  display:table;
  clear:both;
}

/* Allinea testo a destra */
.txt-right{
  text-align: right;
}


.reset-lista ul{
  list-style: none;
}

.reset-lista ul li{
  text-decoration: none;
  display: inline;
  padding-right: 15px;
}

.reset-lista ul li a{
  text-decoration: none;
}

.reset-lista ul li a:hover{
  background-color: rgba(0,0,0,0.1);
}

.reset-lista ul li a:visited{
  color:#3d5364;
}


.reset-lista ul li a:visited{
  color:#3d5364;
}


.button-link{
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
}

.border-main-color{
  border: 1px solid #fe775a;
  color: #fe775a;
  background-color: white;
}

.filled-main-color{
  border: 1px solid #fe775a;
  background-color: #fe775a;
  color: white;
  border-color: white;
}

.button-big{
  padding: 20px;
}

/* Box con grafica */
.box-style1{
  /* border: 1px solid violet; */
  box-shadow: 0px 0px 5px violet;
  background-color: white;
  border-radius: 5px;
}


/* /UTILITIES & COMMON SETTINGS */

/* Div generico che imposta larghezza content */
.content{
  min-width: 1200px;  /* Resixe guardare poi */
  max-width: 1200px;
  margin: 0 auto;
}
/* /Div generico che imposta larghezza content */

.bar-fixed{
  width: 100%;
  border-bottom: 1px solid #556979;
  height: 75px;
  background-color: #f4f9fd;
  font-size: 16px;
  font-weight: bold;
}

.bar-fixed-colonnasx{
  width: 300px;
  height: 75px;
  line-height: 75px;
  color:#3d5364;

}

.bar-fixed-colonnadx{
  width: 500px;
  height: 75px;
  line-height: 75px;
}

/* Bordo separatore elementi prima navbar */
.bar-fixed-colonnasx ul li:first-child{
  border-right: 2px solid #899397;
}

.bar-fixed-colonnasx ul li:nth-child(2){
  padding-left: 15px;
}

/* Elimina padding sull'ultimo elemento */
.bar-fixed-colonnadx ul li:last-child{
  padding:0;
}


.header-top-colonnasx{
  width: 200px;
  height: 75px;
}


.header-top-colonnasx img{
  /* Centrare immagine in verticale */
  line-height: 75px;
  border: 1px solid violet;

}

.header-top-colonnadx{
  width: 600px;
  height: 75px;
  line-height: 75px;
}

.header-top{
  background-color: #ffffff;
  height: 75px;
  font-weight: bold;
}

.header-center{
  position: relative;
  height: 700px;
  background-color: #fff3ef;
  background-image: url(../img/header-sfondo.png);
  background-position: top right;
  background-repeat: no-repeat;

}

.header-center-jumbotron{
  position: relative;
  padding-top: 60px;
  width: 50%;
}

.jumbo-text{
  font-size: 50px;
  font-weight: bold;
  color:black;
}

.header-center-jumbotron p {
  margin: 50px 0;
}



.header-bottom{
  position: absolute;
  width: 100%;
  height: 88px;
  bottom:0;
  right:0;

  /* Colori originali barra */
  background-color: #afebe4;
  border-top: 4px solid #33475b;
  border-bottom: 4px solid #33475b;
}


.background1{
  background-color:#f4f9fd;
  padding-top: 20px;
}

/* /Header - parte inferiore */

.main-cubo{
  width: 70%;
  margin: 0 auto;
  height: 300px;
  text-align: center;
  margin-bottom: 20px;
}

.main-cubo h2{
  margin-bottom: 20px;
}

.main-free-crm{
  width: 100%;
  height: 300px;
  margin-bottom: 40px;
}

.main-flottanti{
  width: 100%;
  height: 300px;
  background-color: none;
}

/* Seleziona le 3 colonne flottanti */
.main-flottanti > div{
  width: calc(100% / 3);
  padding: 0 15px;
  background-color: yellow;
}



}
.main-flottanti > div:first-child{
  padding-left: 0px;
}

.main-flottanti > div:last-child{
  padding-right: 0px;
}

/* Classe generica per contenuto colonna flottante */
.cl-contenuto{
  background-color: white;
  height: 400px;
  width:100%;
}
